body {
  background-color: rgb(53, 53, 53);
}

p {
  color: white;
}

.btn {
  i {
    color: black;
  }
}

.navbar {
  i, a {
    color: white;
  }
}

.flex {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.spanish {
  color: rgb(249, 102, 102);
}
